version: 2

common_stepup_commaand: &common_stepup_commaand
  command: |
    echo 'export PATH=$PATH:${CIRCLE_WORKING_DIRECTORY}/.circleci' >> $BASH_ENV
jobs:
  build:
    docker:
      - image: busybox
    steps:
      - run: echo "これはビルドタスクです"
  rspec:
    docker:
      - image: circleci/ruby:2.5.5
    steps:
      - checkout
      - run:
          <<: *common_stepup_commaand
      - run:
          name: Run
          command: |
            if is_changed "server"; then
            # ToDo: 実際にrspecを回すようにする
              cd server
              # bundle update
              # bundle exec rspec
            else
              echo "serverに変更はなかったよ"
            fi
workflows:
  version: 2
  rspec:
    jobs:
      - build
      - rspec:
          requires:
            - build
